
.wall{ 
    width: 100%;
    height: 100vh;
    background-image: url(wallpaper10.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;    

}
.box{
    padding: 0px;
    border: 2px green;
    border-radius: 4px;
    width: 500px;
    align-items: center;
background-image: url(wallpaper6.jpg);
border-radius: 8px;
background: size height 30%;
background-size: max-width:100px;
}


h1 {
    
    font-size: 80px;
    margin: 10px 0 30px;
line-height: 80px;
margin: 40px auto 0;
cursor: pointer;
color: tomato;
background-color: wheat;
transform: translateY(-50%);
text-align: center;
}
.note{
    text-align: center;
    font-size: medium;
    color: turquoise;
}
/* .email,.mess,.job,.submit{ 
    font-size: x-large;
    cursor: text;
    text-align: center;
    color: black;
    line-height: 80px;
/*  */
.name,.email,.mob,.mess,.gender,.submit{
    color: #fbfcfb;
 color: black;
    text-align: center;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;

    font-size: 25px;
margin: 10px 0 30px;
line-height: 50px;
}
.submit{
    color: #fbfcfb;
padding: 10px 50px;
background: transparent;
/* border: 1px solid #fff; */
/* border-radius: 300px; */
outline: none;
cursor: pointer;
}
